.App{
  width: 100vw;
  height: 100vh;
}

.BtUndo{
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px
}

.BtRedo{
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px
}

.BtClear{
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px
}